.form-container
	margin: 100px auto
	width: 1000px
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2)
	position: relative
	border-radius: 10px
	height: 600px
	display: grid
	grid-template-columns: 1fr 1fr

.close-btn
	position: absolute
	top: 2%
	right: 2%
	z-index: 1
	fill: #fff
	cursor: pointer
	width: 25px
	svg
		fill: white
		path
			fill: white
.form-content-left
	background: linear-gradient( 90deg, rgb(39, 176, 255) 0%, rgb(0, 232, 236) 100%)
	border-radius: 10px 0 0 10px
	position: relative

.form-content-right
	border-radius: 0 10px 10px 0
	position: relative
	background: linear-gradient( 90deg, rgb(37, 20, 59) 0%, rgb(72, 50, 101) 100%)

.form-img
	width: 80%
	height: 80%
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
